
body {
	padding-top: 50px;
}

@media only screen and (max-width:425px) {
	body {
		padding-top: 100px;
	}
}

@media only screen and (orientation: landscape) and (min-width:600px)
	and (max-width:740px) {
	body {
		padding-top: 100px;
	}
}

.menu {
	padding: 0;
	padding-top: 20px;
}

.list-feat>li {
	background: none;
	border-bottom: 1px solid rgba(128, 128, 128, 0.21);
	font-size: 16px;
	cursor: pointer;
	color: #39c;
}

.list-feat>li>div {
	padding: 10px;
}

.list-feat li a:hover {
	text-decoration: none;
	color: #39c;
}

.list-feat>li>ul {
	display: none;
}

.list-feat>li>ul>li {
	padding: 10px;
	padding-left: 40px;
}
.list-feat>li>ul>li:hover {
	background:rgba(255,255,255,0.2);
}

.list-feat>li>ul>li a {
	font-size: 14px;
	color: white;
}

.list-feat>li.active>div {
	background: #313339;
}

.list-feat>li>div>.plus {
	position: relative;
}

.list-feat>li>div>.plus:after {
	content: "";
	width: 0;
	height: 0;
	border: 2px solid #ff4040;
	border-top-width: 7px;
	border-bottom-width: 7px;
	position: absolute;
	top: .4px;
	right: 0px;
	opacity: 0;
	transition: opacity 1s ease;
	-webkit-transition: opacity 1s ease;
	-moz-transition: opacity 1s ease;
	-o-transition: opacity 1s ease;
}

.list-feat>li.active>div>.plus:after {
	opacity: 1;
}

@media only screen and (min-width:1024px) {
	.content {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
	}
}

.navbar-brand a {
	font-size: 24px;
}

.navbar-brand a:hover {
	color: #ff4040;
}

@media only screen and (max-width:426px) {
	.feat {
		width: 100%;
	}
}